body{
    background-blend-mode: color-burn;
    color:darkgoldenrod;
    margin-top: 25px;
}
ul a{
    color:darkolivegreen;
    text-decoration: none;
}
li{
    display:inline-block;
    height: 22px;
    width: 200px;
    padding: 10px;
    text-align: center;
    color:brown;
    border-left: 2px darkgoldenrod;
    border-right: 2px darkolivegreen;
    background-image: brown;
}
li:hover{
    background-color:darkolivegreen;
    border-style:none;
}
h2{
    margin-left: 200px;
}

th{
    text-align: center;
    color:brown;
    border-left: 2px darkgoldenrod;
    border-right: 2px darkolivegreen;
    background-image: brown;
}

#V {
    text-align: center;
    color:brown;
    border-left: 2px darkgoldenrod;
    border-right: 2px darkolivegreen;
    background-image: brown;
    text-align: center;
    height: 25px;
    width: 125px;
}

#empty {
    text-align: center;
    color:brown;
    border-left: 2px darkgoldenrod;
    border-right: 2px darkolivegreen;
    background-image: brown;
}
