body{
    background-blend-mode: color-burn;
    color:darkgoldenrod;
    margin-top: 0px;
}
ul a{
    color:darkolivegreen;
    text-decoration: none;
}
li{
    display:inline-block;
    height: 22px;
    width: 200px;
    padding: 10px;
    text-align: center;
    color:brown;
    border-left: 2px darkcyan;
    border-right: 2px darkcyan;
    background-image: brown;
}
li:hover{
    background-color:black;
    border-style:dashed;
}
h2{
    margin-left: 200px;
}

th{
    text-align: center;
    height: 25px;
    width: 150px;
}

#V {
    text-align: center;
    height: 25px;
    width: 125px;
}

#empty {
    margin-left: 50px;
    height: 25px;
    width: 125px;
}
